
.coaches__cards {
  display: flex;
  overflow: scroll;
}

.coaches__card {
  display: flex;
  height: 420px;
  margin-right: 11px;
  margin-bottom: 64px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 4px 30px rgba(207, 207, 207, 0.25);
  border-radius: 2px;

  @media (max-width: 515px) {
    flex-direction: column;
  }
}

.coaches__card-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin: 24px;

  & button {
    margin-top: 66px;
    @media (max-width: 513px) {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      margin-top: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  & button span {
    @media (max-width: 515px) {
      display: none;
    }
  }
}

@media (max-width: 515px) {
  .btn_coaches:before {
    content: ">";
  }
}

.coaches__card-img img {
  max-width: 100%;
  max-height: 100%;
  min-width: 287px;
}
