.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

}

.fillContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @media (max-width: 1080px) {
    max-width: 100%;
    padding: 0;
  }
}
