footer {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 27px 72px;

  .logo {
    a {
      color: white;
    }
  }
}

.copyright {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
}
