.nav {
  display: flex;
  @media (max-width: 804px) {
    display: none;
  }

  &__item {
    margin-left: 24px;
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    a {
      color: #000;
      text-decoration: none;
    }

  }

  &__list {
    display: flex;
    justify-content: flex-end;

  }
}
