.promo-block {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    @media(max-width: 1080px) {
      flex-direction: column-reverse;
      .info {
        margin-left: 30px;
      }
    }
  }

  .info {
    max-width: 350px;
    @media (max-width: 500px) {
      max-width: 200px;
    }

    &__title {
      font-size: 72px;
      font-weight: bold;
      margin-bottom: 0;
      line-height: 68px;
      @media (max-width: 500px) {
        font-size: 36px;
        line-height: 40px;
      }
    }

    &__sub-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      margin-top: 16px;
      text-align: left;
      @media (max-width: 500px) {
        font-size: 16px;
      }
    }

    &__text {
      line-height: 25px;
      margin-bottom: 40px;
      @media (max-width: 500px) {
        font-size: 14px;
        min-width: 280px;
      }
    }
  }
  &__img {
    max-width: 1000px;
  }

  &__img img {
    width: 100%;
  }
}
