$montserratSansSerif: montserrat, sans-serif;
$widthNavBtn: 116px;
$heightNavBtn: 36px;
$btnBorderRadius: 3px;
$navItemGap: 24px;
$navitemSize:14px;
$navItemColor: #000;


$titleSize: 36px;
$descriptionSize:16px;

$blockGap: 100px;

$servDescriptionSize:16px;

$shadow: 0 4px 30px rgba(207, 207, 207, 0.25);

$borderRadius: 3px
